:root {
  --main-color: #061121;
  --text-color-1: #ccd6f6;
  --text-color-2: #8893AF;
  --accent-color: #ccd6f6;
  --loading-color: #7b8cb7;
  --artist-card-bg: #0a192f;
  --artist-card-hover: #1c334f;
  --dark-green: #1DB954;
}

.app {
  min-height: 100vh;
  background-color: var(--main-color);
  text-align: center;
  padding: 2vw 5vw;
}

.app-title {
  text-align: left;
  color: var(--text-color-1);
  font-size: calc(32px + 2vmin);
  line-height: 1;
  font-weight: 300;
}

.app-header {
  padding: 3vw 0;
}

.app-link {
  color: #61dafb;
}

.spotify-icon-box {
  line-height: inherit;
  text-align: right;
  vertical-align: middle;
}

.spotify-icon {
  max-width: calc(35px + 2vmin);
  vertical-align: middle;
}

.artist-search {
  margin-bottom: 5vh;
  min-height: 8vh;
  background-color: transparent;
  color: var(--text-color-1);
  border: 1px solid var(--accent-color);
  border-right: none;
  border-bottom-left-radius: 1vh;
  border-top-left-radius: 1vh;
  width: 100%;
  padding: 2vh;
  font-size: 1.5rem;
}

.artist-search:focus-visible {
  outline: none;
  /*border: 2px solid #64ffda;*/
}

.search-button {
  min-height: 8vh;
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-left: none;
  padding: 2vh;
  cursor: pointer;
}

.artist-search:focus-visible ~ .search-button {
  border: 2px solid var(--accent-color);
}

.loading-box {
  padding-top: 20vh;
}

.loading-icon-1 {
  font-size: 4rem;
  animation: loading-animation-1 2s infinite;
}

.loading-icon-2 {
  font-size: 4rem;
  animation: loading-animation-2 2s infinite;
}

.loading-icon-3 {
  font-size: 4rem;
  animation: loading-animation-3 2s infinite;
}

@keyframes loading-animation-1 {
  0% {color: var(--main-color);}
  30%, 100% {color: var(--loading-color);}
}

@keyframes loading-animation-2 {
  0%, 30% {color: var(--main-color);}
  60%, 100% {color: var(--loading-color);}
}

@keyframes loading-animation-3 {
  0%, 60% {color: var(--main-color);}
  90%, 100% {color: var(--loading-color);}
}

.artist-card {
  background-color: var(--artist-card-bg);
  border-radius: 1vh;
  padding: 2vh 1vw;
}

.artist-card:hover {
  background-color: var(--artist-card-hover);
  cursor: pointer;
}

.artist-card-img {
  object-fit: cover;
  min-height: 20vh;
  max-height: 20vh;
  width: 100%;
  border-radius: 1vh;
}

.artist-card-desc {
  padding: 0.5vh 0.5vw;
  text-align: left;
}

.artist-card-name {
  font-size: 1rem;
  margin-bottom: 0;
  padding-top: 0.3vh;
  color: var(--text-color-1);
}

.artist-card-pop {
  margin-bottom: 0;
  color: var(--text-color-2);
}

/* Sub page styles */
.page-title > h1 {
  text-align: left;
  color: var(--text-color-1);
  font-size: calc(24px + 2vmin);
  line-height: 1;
  font-weight: 300;
}

.page-title >h1 > a {
  color: var(--text-color-1);
}

.artist-img {
  border-radius: 50%;
  padding: 1vh 1vw;
  max-width: 25vw;
}

.artist-bio {
  text-align: left;
  font-size: 1.1rem;
  color: var(--text-color-1);
  margin: auto 0;
}

.artist-link {
  color: var(--main-color);
  background-color: var(--dark-green);
  border-radius: 1vh;
  padding: 1vh 0.8vw;
  font-weight: 600;
  font-size: 0.9rem;
}

.artist-link:hover {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
}

.spotify-icon-btn {
  min-width: calc(22px + 2vmin);
  max-width: calc(22px + 2vmin);
  vertical-align: middle;
  margin-right: 1vw;
  margin-bottom: 0.5vh;
}

.track-div {
  margin-top: 10vh;
}

.track-data {
  color: var(--text-color-1);
  margin-bottom: 3vh;
}

.track-data-selected {
  color: var(--text-color-1);
  margin-bottom: 3vh;
  background-color: var(--artist-card-hover);
}

.track-data:hover {
  background-color: var(--artist-card-bg);
  cursor: pointer;
}

.track-art {
  text-align: right;
}

.track-art > img {
  max-width: 70%;
}

.track-meta {
  text-align: left;
  margin: auto 0;
}

.track-name {
  margin-bottom: 0.5rem;
}

.track-album {
  margin-bottom: 0;
}

.track-duration {
  margin: auto 0;
}

.track-duration > p {
  margin-bottom: 0;
}

.read-more {
  margin-top: 5vh;
  text-align: center;
  font-size: 1rem;
}

.read-more > a {
  color: var(--text-color-1);
}

.read-more > a:hover {
  color: var(--text-color-1);
  text-decoration: underline;
}

.graph-legend {
  color: var(--text-color-1);
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 80vw;
}

.radar-chart {
  background-color: white;
  margin: 4vh 0;
}

.track-link {
  color: var(--main-color);
  background-color: var(--dark-green);
  border-radius: 1vh;
  padding: 1vh 0.8vw;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 1em;
}

.track-link:hover {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1rem;
}

.user-prompt {
  margin-top: 5vh;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-1);
}